@import "bootstrap.min.css";

body {
	margin-top: 60px;
	margin-bottom: 60px;
}

.tab-content {
	height: 60vh;
#	padding: 0px;
	overflow: scroll;
}

.container-log {
	height: 500px;
	font-size: 10px;
}

textarea.logtext {
	background-image: url("../images/bg-grain.png");
	font-size: 10px;
	height: 100%;
	overflow: scroll;
	font-style: font-family:monospace;
	resize: none;
}

.window-start {
	text-align: center;
	padding: 0px;
	font-size: 12px;	
}

.window-name {
	background-color: lightblue;
	text-align: center;
	padding: 0px;
	border: 1px solid #000;
	font-size: 20px;
}

.window-name > p {
	margin: 0;
}
