[Unit]
Description="SATIP server SATPI."

[Service]
ExecStart=/usr/bin/satpi --no-daemon --app-data-path /var/lib/satpi --http-path /usr/share/satpi/web

[Install]
WantedBy=multi-user.target
