body {
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

div {
	font-size: 12px;
}

div.log {
	height: 500px;
	font-size: 11px;
}

textarea.logtext {
	background-image: url("bg-grain.png");
	font-size: 12px;
	height: 100%;
	overflow: scroll;
}

.start {
	padding: 40px 15px;
	text-align: center;
}
